@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  vertical-align: top;
  color: var(--main-color);
}

p {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  vertical-align: top;
  color: var(--main-color);
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  font-family: var(--main-font-family);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1280px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
    width: 1280px;
  }
}

:root {
  --main-color: #3c322d;
  --pink-color: #f3848c;
  --bg-color: #f6f7f7;
  --main-font-family: "Montserrat";
  --border-color-black: #000;
  --border-color-white: #fff;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.button {
  width: 145px;
  height: 40px;
  background-color: var(--pink-color);
  border-radius: 25px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #fff;
  border: 1px solid var(--pink-color);
  filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
}
.button:hover .buttontext, .button:focus .buttontext {
  color: rgb(243, 132, 140);
}
.button:active {
  background: #f3848c;
  border: 1px solid #ffffff;
  box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
  filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
}
.button:active .button__text {
  color: #fff;
}
.button__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
}

.header {
  padding-top: 16px;
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .header {
    padding-top: 24px;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .header__wrapper {
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header__wrapper {
    justify-content: flex-start;
    align-items: center;
  }
}

.header__btn {
  border: none;
  background-color: inherit;
}
@media screen and (min-width: 1280px) {
  .header__btn {
    display: none;
    margin-left: 20px;
  }
}

.nav-list {
  display: none;
}
.nav-list__item:not(:first-child) {
  margin-left: 20px;
}
@media screen and (min-width: 1280px) {
  .nav-list {
    display: flex;
    margin-left: 55px;
  }
}
.nav-list__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  padding: 4px 8px;
  color: var(--main-color);
}
.nav-list__link:hover, .nav-list__link:focus {
  background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
  box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
  border-radius: 0px;
  color: #fcfcfc;
}

.header,
.hero {
  background-image: url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header,
.hero {
    background-image: url(../images/hero-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .header,
.hero {
    background-image: url(../images/bg-hero-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.7px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.7px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279.7px) and (min-resolution: 2dppx) {
  .header,
.hero {
    background-image: url(../images/bg-hero-tab@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header,
.hero {
    background-image: url(../images/bg-hero-desc.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header,
.hero {
    background-image: url(../images/bg-hero-desc@2x.jpg);
  }
}

.header {
  height: 66px;
  background-position: center 0;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .header {
    height: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    height: 106px;
  }
}

.hero {
  height: 246px;
  background-position: center -66px;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .hero {
    height: 277px;
    background-position: center -68px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 450px;
    background-position: center -106px;
  }
}

.hero {
  padding: 20px 0 8px 0;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .hero {
    padding-top: 28px;
    padding-bottom: 43px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 65px;
    padding-bottom: 90px;
  }
}
.hero__title {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: -0.03em;
  width: 280px;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .hero__title {
    font-size: 30px;
    line-height: 1.23;
    width: 319px;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 60px;
    line-height: 1.08;
    width: 757px;
    text-align: left;
  }
}
.hero__text {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-top: 18px;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .hero__text {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.2;
  }
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .hero__wrapper {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    align-items: flex-start;
  }
}

.register-link {
  width: 145px;
  height: 40px;
  margin-top: 28px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  padding: 9px 35px;
  text-align: center;
  background: #f3848c;
  border-radius: 25px;
  filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .register-link {
    margin-top: 24px;
  }
}
.register-link:hover, .register-link:focus {
  color: var(--pink-color);
  background: #ffffff;
  border: 1px solid #f3848c;
  filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
}
.register-link:active {
  color: #ffffff;
  background-color: var(--pink-color);
  border: 1px solid #ffffff;
  box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
  filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .social {
    justify-content: flex-start;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .social {
    justify-content: flex-start;
    margin-top: 32px;
  }
}
.social__item:not(:first-child) {
  margin-left: 16px;
}
.social__icon:hover, .social__icon:focus, .social__icon:active {
  fill: #f3848c;
}

.about {
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .about-card {
    display: flex;
  }
}

.about__image {
  margin-bottom: 20px;
  mix-blend-mode: darken;
  border-radius: 24px;
  mix-blend-mode: darken;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__image {
    margin-right: 32px;
  }
}

.about__contents {
  width: 100%;
}

.about__title {
  margin-bottom: 8px;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__title {
    text-align: left;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 28px;
  }
}

.about__subtitle {
  text-align: left;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 1.2em;
}
@media screen and (min-width: 1280px) {
  .about__subtitle {
    font-size: 18px;
    line-height: 1.2;
  }
}

.about__subtitle:last-child {
  margin-bottom: 0;
}

.about__read-more {
  display: block;
  opacity: 0;
  height: 0;
  transition: all 250ms;
  text-align: left;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 1280px) {
  .about__read-more {
    opacity: 1;
    font-size: 18px;
    line-height: 1.2;
  }
}

.about__read-more--open {
  display: block;
  opacity: 1;
  height: 6rem;
}

.read-more-btn {
  position: relative;
  display: inline-block;
  padding: -3rem 0rem;
  cursor: pointer;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 1280px) {
  .read-more-btn {
    display: none;
  }
}

.speakers {
  padding-top: 35px;
  background-color: #f6f7f7;
  background-image: url(../images/speakers/Decor_speakers.png);
  background-repeat: no-repeat;
  background-position: right top;
}
@media screen and (min-width: 768px) {
  .speakers {
    padding-top: 44px;
    background-image: url(../images/speakers/Decor-speakers2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
}
@media screen and (min-width: 1280px) {
  .speakers {
    padding-top: 100px;
    background-image: url(../images/speakers/Decor-speakers3.png);
  }
}
.speakers__title {
  margin-bottom: 12px;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .speakers__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .speakers__title {
    margin-bottom: 5px;
  }
}

.speakers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .speakers-list {
    gap: 32px;
  }
}
.speakers-list__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  flex-basis: calc((100% - 20px) / 2);
}
@media screen and (min-width: 768px) {
  .speakers-list__items {
    flex-basis: calc((100% - 96px) / 4);
  }
}
.speakers-list__foto {
  width: 100%;
  margin-bottom: 12px;
}
.speakers-list__foto--test {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .speakers-list__foto {
    margin-bottom: 20px;
  }
  .speakers-list__foto--test {
    margin-bottom: 25px;
  }
}
.speakers-list__title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .speakers-list__title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.2;
  }
}
.speakers-list__text {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .speakers-list__text {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .speakers-list__text {
    font-size: 16px;
    margin: 0 54px;
  }
}

.speakers-box {
  flex: 1 0 auto;
  max-width: 130px;
}
@media screen and (min-width: 768px) {
  .speakers-box {
    max-width: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .speakers-box {
    max-width: 181px;
  }
}

.price {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.price__conteiner {
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .price__conteiner {
    display: flex;
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .price__conteiner {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.price__box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8px;
  padding-right: 19px;
  box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
  border-radius: 25px;
  background-color: #fafbfb;
}
@media screen and (min-width: 768px) {
  .price__box {
    padding-right: 12px;
    height: 580px;
    flex-basis: calc(100% - 23.3333333333px);
  }
}
@media screen and (min-width: 1280px) {
  .price__box {
    padding-right: 12px;
    height: 610px;
    flex-basis: calc(100% - 53.3333333333px);
  }
}
@media screen and (max-width: pre-tablet) {
  .price__box {
    background-position: right 50% bottom 5px;
  }
}
@media screen and (min-width: 768px) {
  .price__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .price__box:not(:last-child) {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .price__box:not(:last-child) {
    margin-right: 32px;
  }
}
@media screen and (max-width: 767.7px) {
  .price__box:first-child {
    margin-bottom: 32px;
  }
}
.price__box:nth-child(2) {
  border: 1px solid #f3848c;
}
@media screen and (max-width: 767.7px) {
  .price__box:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
}
.price__box:not(:first-child) {
  background: url(../images/price/background.png);
  background-repeat: no-repeat;
  background-position: right 50% bottom 100px;
  background-color: #fafbfb;
}
@media screen and (min-width: 768px) {
  .price__box:not(:first-child) {
    background: url(../images/price/background.png);
    background-repeat: no-repeat;
    background-position: right 50% bottom 96px;
    background-color: #fafbfb;
  }
}
@media screen and (min-width: 1280px) {
  .price__box:not(:first-child) {
    background: url(../images/price/background_desk.png);
    background-repeat: no-repeat;
    background-position: right 50% bottom 96px;
    background-color: #fafbfb;
  }
}
@media screen and (min-width: 768px) {
  .price__box {
    background: url(../images/price/background.png);
    background-repeat: no-repeat;
    background-position: right 50% bottom 96px;
    background-color: #fafbfb;
  }
}
@media screen and (min-width: 1280px) {
  .price__box {
    background: url(../images/price/background_desk.png);
    background-repeat: no-repeat;
    background-position: right 50% bottom 96px;
    background-color: #fafbfb;
  }
}
.price__title {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 27px;
  color: #2e2520;
}
.price__list {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .price__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .price__list {
    gap: 16px;
  }
}
.price__list-title {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2520;
}
@media screen and (min-width: 1280px) {
  .price__list-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
}
.price__item {
  flex-basis: calc((100% - 36px) / 4);
  position: relative;
}
.price__item::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../images/price/marker.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
@media screen and (min-width: 1280px) {
  .price__item::before {
    margin-right: 13px;
  }
}
@media screen and (max-width: 1279.7px) {
  .price__item:not(:last-child) {
    margin-bottom: 12px;
  }
}
.price__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: left;
  margin-left: 40px;
  color: #2e2520;
}
@media screen and (min-width: 768px) {
  .price__text {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .price__text {
    font-size: 18px;
    line-height: 1.22;
  }
}
.price__link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.price__link:hover, .price__link:focus {
  background-color: #fff;
  border: 1px solid #f3848c;
  filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
}
.price__link:hover .button__text, .price__link:focus .button__text {
  color: rgb(243, 132, 140);
}

.reviews {
  font-family: "Montserrat";
  font-style: normal;
  padding-left: 20px;
  padding-right: 20px;
}
.reviews__title {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 27px;
  color: #2e2520;
}
@media screen and (min-width: 768px) {
  .reviews__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;
    color: #000000;
  }
}
@media screen and (min-width: 1280px) {
  .reviews__title {
    color: #2e2520;
  }
}
.reviews__text {
  margin-bottom: 32px;
  color: #2e2520;
}
@media screen and (min-width: 768px) {
  .reviews__text {
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews__text {
    margin-bottom: 28px;
  }
}
.reviews__coment {
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .reviews__coment {
    font-size: 18px;
    line-height: 1.22;
  }
}
.reviews__coment:first-child {
  display: none;
}
@media screen and (min-width: 768px) {
  .reviews__coment:first-child {
    display: block;
  }
}
.reviews__coment:nth-child(2) {
  display: none;
}
@media screen and (min-width: 768px) {
  .reviews__coment:nth-child(2) {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .reviews__coment:nth-child(3) {
    display: none;
  }
}
.reviews__page-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}
.reviews__page-number::before {
  content: "";
  width: 35px;
  height: 2px;
  margin-right: 12px;
  background-color: #f3848c;
}
.reviews__page-number::after {
  content: "";
  width: 35px;
  height: 2px;
  margin-left: 11px;
  background-color: #f3848c;
}

.employees {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .employees {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
    height: 468px;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .employees {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
    height: 614px;
    align-items: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .employees__box:nth-child(2) {
    margin-right: 32px;
  }
}
.employees__box:first-child {
  display: none;
}
@media screen and (min-width: 768px) {
  .employees__box:first-child {
    display: block;
    margin-right: 32px;
    position: relative;
    bottom: 264px;
  }
}
.employees__box:last-child {
  display: none;
}
@media screen and (min-width: 768px) {
  .employees__box:last-child {
    display: block;
    position: relative;
    bottom: 263px;
  }
}
.employees__pic {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}
.employees__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}

.star {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.star__item:not(:last-child) {
  margin-right: 4px;
}

.registration {
  align-items: center;
}
.title__registration {
  margin-bottom: 27px;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .title__registration {
    font-size: 32px;
    line-height: 1.22;
    color: #000;
    font-weight: 500;
  }
}
@media screen and (min-width: 1280px) {
  .title__registration {
    color: var(--main-color);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.22;
  }
}

.registration__form {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
@media screen and (max-width: 767.7px) {
  .registration__form {
    background-image: linear-gradient(rgba(162, 143, 143, 0.524), rgba(162, 143, 143, 0.524)), url(../images/img-register.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .registration__form {
    width: 704px;
    display: flex;
    background-image: url(../images/small-donuts.png), url(../images/small-cloud.png), url(../images/strawberry-donuts.png);
    background-repeat: no-repeat;
    background-position: 15px 215px, left, right;
  }
}
@media screen and (min-width: 1280px) {
  .registration__form {
    width: 1034px;
    display: flex;
    background-image: url(../images/big-donuts.png), url(../images/big-cloud.png), url(../images/strawberry-donuts.png);
    background-repeat: no-repeat;
    background-position: 15px 97px, left, right;
  }
}

.date {
  border-bottom: 1px solid var(--border-color-white);
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .date {
    width: 90px;
    height: 283px;
    flex-wrap: wrap;
    border: none;
    margin-top: 45px;
    margin-left: 62px;
    border-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .date {
    width: 127px;
    border-bottom: 0;
  }
}

.date__text {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .date__text {
    color: #000;
    font-size: 18px;
    line-height: 1.11;
    align-items: right;
    vertical-align: top;
  }
}
@media screen and (min-width: 1280px) {
  .date__text {
    color: var(--main-color);
    font-size: 20px;
    line-height: 1.2;
    align-items: right;
    vertical-align: top;
  }
}

.registration__info {
  margin-left: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .registration__info {
    margin-left: 24px;
    margin-top: 40px;
  }
}

.registration__text {
  color: #fff;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .registration__text {
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: left;
    vertical-align: top;
  }
}
@media screen and (min-width: 1280px) {
  .registration__text {
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: left;
    vertical-align: top;
  }
}

.registration__input {
  display: block;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--border-color-white);
  background-color: transparent;
  align-items: center;
  color: #fff;
}
.registration__input::-moz-placeholder {
  color: #fff;
}
.registration__input:-ms-input-placeholder {
  color: #fff;
}
.registration__input::placeholder {
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .registration__input {
    width: 237px;
    padding-left: 24px;
    border-color: var(--border-color-black);
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
  }
  .registration__input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .registration__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .registration__input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}
@media screen and (min-width: 1280px) {
  .registration__input {
    padding-left: 24px;
    border-color: var(--border-color-black);
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
  }
  .registration__input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .registration__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .registration__input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (min-width: 768px) {
  .form {
    display: flex;
  }
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .register {
    margin: 103px 40px 103px 74px;
  }
}

.registration__button {
  width: 145px;
  height: 40px;
  border: 0px solid;
  border-radius: 25px;
  color: #fff;
  background-color: var(--pink-color);
  margin-bottom: 28px;
  align-items: center;
  justify-content: center;
}
.registration__button:hover, .registration__button:focus {
  background-color: #fff;
  border: 1px solid var(--pink-color);
  filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
  color: rgb(243, 132, 140);
}

.contact {
  width: 280px;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .contact {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .contact {
    width: 394px;
  }
}

.title__contact {
  margin-bottom: 27px;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .title__contact {
    font-size: 32px;
    line-height: 1.22;
    color: #000;
    font-weight: 500;
  }
}
@media screen and (min-width: 1280px) {
  .title__contact {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.22;
  }
}

.contact_text {
  margin-bottom: 16px;
}

.contact__form {
  width: 100%;
  padding: 0px 10px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.contact__input {
  width: 280px;
  display: block;
  margin-bottom: 20px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--border-color-black);
  background-color: var(--bg-color);
  align-items: center;
}

.send {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send__button {
  width: 145px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 25px;
  background-color: var(--pink-color);
  margin-bottom: 28px;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.send__button:hover, .send__button:focus {
  background-color: #fff;
  border: 1px solid var(--pink-color);
  filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
  color: rgb(243, 132, 140);
}

.socialmedia {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialmedia__item {
  color: var(--main-color);
}
.socialmedia__item:not(:last-child) {
  margin-right: 16px;
}

.socialmedia__icon {
  color: var(--main-color);
  fill: currentColor;
}
.socialmedia__icon:hover, .socialmedia__icon:focus {
  fill: var(--pink-color);
}

.footer {
  padding-top: 28px;
  padding-bottom: 50px;
  background-color: #f6f7f7;
  background-image: url(../images/footer/decor-footer.png), url(../images/footer/donuts-footer.png);
  background-repeat: no-repeat;
  background-position: top right, 50% 85%;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 31px;
    padding-bottom: 80px;
    background-image: url(../images/footer/decor-footer-tabl1.png), url(../images/footer/footer-tabl1.png);
    background-repeat: no-repeat;
    background-position: bottom 147px right 270px, top 0 left 80px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 37px;
    padding-bottom: 101px;
    background-image: url(../images/footer/decor-footer-desk1.png), url(../images/footer/decor-footer-desk2.png);
    background-repeat: no-repeat;
    background-position: bottom 112px left 158px, bottom 180px right 57px;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-social {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-social {
    margin-bottom: 100px;
  }
}
.footer-social__icons {
  width: 16px;
  height: 16px;
  fill: #2e2520;
}
.footer-social__link:hover .footer-social__icons, .footer-social__link:focus .footer-social__icons {
  fill: var(--pink-color);
}

.footer-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.footer-contact__box {
  display: flex;
  justify-content: space-between;
}
.footer-contact__link {
  color: #2e2520;
}
.footer-contact__link:hover, .footer-contact__link:focus {
  color: var(--pink-color);
}
.footer-contact__link:hover .footer-contact__icons, .footer-contact__link:focus .footer-contact__icons {
  fill: currentColor;
}
.footer-contact__icons {
  margin-right: 4px;
  width: 13px;
  height: 13px;
  fill: #000000;
}
.footer-contact__icons-- {
  width: 11px;
  height: 14px;
}
@media screen and (min-width: 768px) {
  .footer-contact__icons {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */