@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  vertical-align: top;
  color: var(--main-color);
}

p {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  vertical-align: top;
  color: var(--main-color);
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  font-family: var(--main-font-family);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

:root {
  --main-color: #3c322d;
  --pink-color: #f3848c;
  --bg-color: #bdbdbd;
  --main-font-family: "Montserrat";
}

.button {
  width: 145px;
  height: 40px;
  background-color: #f3848c;
  border-radius: 25px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #fff;
  border: 1px solid #f3848c;
  filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
}
.button:hover .button__text, .button:focus .button__text {
  color: rgb(243, 132, 140);
}
.button:active {
  background: #f3848c;
  border: 1px solid #ffffff;
  box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
  filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
}
.button:active .button__text {
  color: #fff;
}
.button__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
}

.header {
  padding: 16px 0 20px 0;
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 36px 0 0 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.7px) {
  .header {
    padding: 24px 32px 0 32px;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .header__wrapper {
    justify-content: flex-start;
    align-items: center;
  }
}

.header__btn {
  border: none;
  background-color: var(--bg-color);
}
@media screen and (min-width: 1280px) {
  .header__btn {
    display: none;
  }
}

.nav-list {
  display: none;
}
.nav-list__item:not(:first-child) {
  margin-left: 20px;
}
@media screen and (min-width: 1280px) {
  .nav-list {
    display: flex;
    margin-left: 55px;
  }
}
.nav-list__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  padding: 4px 8px;
  color: var(--main-color);
}
.nav-list__link:hover, .nav-list__link:focus {
  background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
  box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
  border-radius: 0px;
  color: #fcfcfc;
}

li {
  list-style: none;
}

.speakers {
  margin-bottom: 39px;
}
@media screen and (min-width: 768px) {
  .speakers {
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 1280px) {
  .speakers {
    margin-bottom: 101px;
  }
}
.speakers__title {
  margin-bottom: 12px;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .speakers__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .speakers__title {
    margin-bottom: 5px;
  }
}

.speakers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .speakers-list {
    gap: 32px;
  }
}
.speakers-list__items {
  display: block;
  text-align: center;
  flex-basis: calc((100% - 20px) / 2);
}
@media screen and (min-width: 768px) {
  .speakers-list__items {
    flex-basis: calc((100% - 96px) / 4);
  }
}
.speakers-list__foto {
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .speakers-list__foto {
    margin-bottom: 20px;
  }
}
.speakers-list .speakers-wrapper {
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .speakers-list .speakers-wrapper {
    margin: 0 53px;
  }
}
.speakers-list__title {
  margin-bottom: 12px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .speakers-list__title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.2;
  }
}
.speakers-list__text {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .speakers-list__text {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .speakers-list__text {
    font-size: 16px;
  }
}/*# sourceMappingURL=index.css.map */