$mobail: 320px;
$pre-tablet: 767.7px;
$tablet: 768px;
$pre-desctop: 1279.7px;
$desctop: 1280px;

@media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
    
}
@media screen and (min-width: $desctop) {
    
}