.button {
  width: 145px;
  height: 40px;
  background-color: var(--pink-color);
  border-radius: 25px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #fff;
    border: 1px solid var(--pink-color);
    filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
  }

  &:hover &text,
  &:focus &text {

    color: rgba(243, 132, 140, 1);
  }

  &:active {
    background: #f3848c;
    border: 1px solid #ffffff;
    box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
    filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
  }

  &:active &__text {
    color: #fff;
  }

  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;

    color: #ffffff;
  }
}