<section class="container contact">
    <h2 class="title__contact">Contact</h2>
    <p class="contact_text">We will answer any question!</p>
    <form class="contact__form">
        <input class="contact__input input-text" type="email" name="email" placeholder="Email" required>
        <input class="contact__input input-text" type="text" name="question" placeholder="Type your question" required>
    </form>
    <div class="send">
        <button type="submit" class="send__button">Send</button>
    </div>
    <div class="contact__media">
        <ul class="socialmedia">
            <li class="socialmedia__item">
                <a class="socialmedia__link" href="">
                    <svg class="socialmedia__icon" width="16" height="16">
                        <use href="./images/icons.svg#twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="socialmedia__item">
                <a class="socialmedia__link" href="">
                    <svg class="socialmedia__icon" width="16" height="16">
                        <use href="./images/icons.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="socialmedia__item">
                <a class="socialmedia__link" href="">
                    <svg class="socialmedia__icon" width="16" height="16">
                        <use href="./images/icons.svg#facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>