<footer class="section footer">
  <div class="container">
    <ul class="footer-social">
      <li>
        <a class="footer-social__link" href="#" aria-label="twitter">
          <svg class="footer-social__icons">
            <use href="./images/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer-social__link" href="#" aria-label="instagram">
          <svg class="footer-social__icons">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer-social__link" href="#" aria-label="facebook">
          <svg class="footer-social__icons">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="footer-contact">
      <ul class="footer-contact__box">
        <li>
          <a class="footer-contact__link" href="tel:9102228855">
            <svg class="footer-contact__icons">
              <use href="./images/icons.svg#icon-tel"></use>
            </svg>
            (910)222-8855</a
          >
        </li>
        <li>
          <a class="footer-contact__link" href="#">
            <svg class="footer-contact__icons footer-contact__icons--location">
              <use href="./images/icons.svg#icon-location"></use>
            </svg>
            New York</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
