<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="header__logo-link" href="">
        <picture>
          <source
            srcset="./images/logomob.png 1x, ./images/logomob@2x.png 2x"
            type="image/png"
            media="(max-width:767px)"
            width="108"
            height="50"
            alt="logo"
          />
          <source
            srcset="./images/logotab.png 1x, ./images/logotab@2x.png 2x"
            type="image/png"
            media="(max-width:1279px)"
            width="106"
            height="46"
            alt="logo"
          />
          <source
            srcset="./images/logodesc.png 1x, ./images/logodesc@2x.png 2x"
            type="image/png"
            media="(min-width:1280px)"
            width="158"
            height="70"
            alt="logo"
          />
          <img src="./images/logomob.png" alt="logo" width="108" height="50" />
        </picture>
      </a>
      <nav>
        <ul class="nav-list">
          <li class="nav-list__item">
            <a class="nav-list__link" href="#about">About us</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#program">Program</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#speakers">Speakers</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#price">Price</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#reviews">Reviews</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#contact">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="header__btn js-open-menu">
        <svg width="30" height="16">
          <use href="./images/icons.svg#menu-btn"></use>
        </svg>
      </button>
    </div>
    <div class="burger-menu js-menu-container">
      <div class="burger-menu__wrapper">
        <a class="header__logo-link" href="">
          <picture>
            <source
              srcset="./images/logomob.png 1x, ./images/logomob@2x.png 2x"
              type="image/png"
              media="(max-width:767px)"
              width="108"
              height="50"
              alt="logo"
            />
            <source
              srcset="./images/logotab.png 1x, ./images/logotab@2x.png 2x"
              type="image/png"
              media="(max-width:1279px)"
              width="106"
              height="46"
              alt="logo"
            />
            <img
              src="./images/logomob.png"
              alt="logo"
              width="108"
              height="50"
            />
          </picture>
        </a>
        <button class="burger-menu__btn js-close-menu" type="button">
          <svg class="mobile-btn__icon" width="32" height="32">
            <use href="./images/icons.svg#btn-close"></use>
          </svg>
        </button>
      </div>
      <nav>
        <ul class="burger-nav">
          <li class="burger-nav__item">
            <a class="burger-nav__link" href="#about">About us</a>
          </li>
          <li class="burger-nav__item">
            <a class="burger-nav__link" href="#program">Program</a>
          </li>
          <li class="burger-nav__item">
            <a class="burger-nav__link" href="#speakers">Speakers</a>
          </li>
          <li class="burger-nav__item">
            <a class="burger-nav__link" href="#price">Price</a>
          </li>
          <li class="burger-nav__item">
            <a class="burger-nav__link" href="#reviews">Reviews</a>
          </li>
          <li class="burger-nav__item">
            <a class="burger-nav__link" href="#contact">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
