<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <h1 class="hero__title">Donut Masterclass with the Donut King</h1>
      <p class="hero__text">Hosted by Eva Green</p>
      <a class="register-link" href="#registration">Register</a>
    </div>
    <ul class="social">
      <li class="social__item">
        <a class="social__link" href="#">
          <svg class="social__icon" width="16" height="16">
            <use href="./images/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <svg class="social__icon" width="16" height="16">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <svg class="social__icon" width="16" height="16">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
