<section class="price" id="price">
  <div class="container price__section">
    <h2 class="price__title">Price</h2>
    <div class="price__conteiner">
      <div class="price__box">
        <div>
          <h3 class="price__list-title">Easy start</h3>
          <ul class="price__list">
            <li class="price__item">
              <p class="price__text">features of yeast dough preparation</p>
            </li>
            <li class="price__item">
              <p class="price__text">
                preparation of liquid caramel for stuffing
              </p>
            </li>
            <li class="price__item">
              <p class="price__text">
                preparation of raspberry and strawberry filling
              </p>
            </li>
            <li class="price__item">
              <p class="price__text">fry and glaze donuts</p>
            </li>
          </ul>
        </div>
        <a class="price__link" href="#registration">Register
        </a>
      </div>
      <div class="price__box">
        <div>
          <h3 class="price__list-title">I want delicious <br class="space"> donuts</h3>
          <ul class="price__list">
            <li class="price__item">
              <p class="price__text">features of yeast dough preparation</p>
            </li>
            <li class="price__item">
              <p class="price__text">
                preparation of liquid caramel for stuffing
              </p>
            </li>
            <li class="price__item">
              <p class="price__text">
                preparation of raspberry and strawberry filling
              </p>
            </li>
            <li class="price__item">
              <p class="price__text">melt chocolate for decoration</p>
            </li>
            <li class="price__item">
              <p class="price__text">fry and glaze donuts</p>
            </li>
            <li class="price__item">
              <p class="price__text">
                donut decoration. painting and various techniques
              </p>
            </li>
          </ul>
        </div>
        <a class="price__link" href="#registration">Register
        </a>
      </div>
      <div class="price__box">
        <div>
          <h3 class="price__list-title">Premium</h3>
          <ul class="price__list">
            <li class="price__item">
              <p class="price__text">features of yeast dough preparation</p>
            </li>
            <li class="price__item">
              <p class="price__text">
                preparation of liquid caramel for stuffing
              </p>
            </li>
            <li class="price__item">
              <p class="price__text">
                preparation of raspberry and strawberry filling
              </p>
            </li>
            <li class="price__item">
              <p class="price__text">melt chocolate for decoration</p>
            </li>
            <li class="price__item">
              <p class="price__text">fry and glaze donuts</p>
            </li>
            <li class="price__item">
              <p class="price__text">
                donut decoration. painting and various techniques
              </p>
            </li>
            <li class="price__item">
              <p class="price__text">
                After party and donut tasting with speakers
              </p>
            </li>
            <li class="price__item">
              <p class="price__text">
                2 private lessons with one of the speakers
              </p>
            </li>
          </ul>
        </div>
        <a class="price__link" href="#registration">Register
        </a>
      </div>
    </div>
  </div>
  <!-- <div class="price__background"></div>
  <div class="background__laptop"></div>
  <div class="background__laptop-circle"></div> -->
</section>
