<section class="registration" id="registration">
    <div class="container">
        <h2 class="title__registration">Registration</h2>
        <div class="registration__form">
            <div class="date">
                <p class="date__text">May 23, 11:00 <br> New York</p>

            </div >
                <form class="form">
                    <div class="registration__info">
                        <p class="registration__text">Apply your personal info <br> for registration</p>
                        <input class="registration__input" type="text" name="name" placeholder="Your name"
                            pattern="^[a-zA-Z]+\s[a-zA-Z]+$" required>
                        <input class="registration__input" type="tel" name="tel" placeholder="Phone number"
                            pattern="^\+\d{2}\(\d{3}\)\d{3}-\d{2}-\d{2}$" required>
                        <input class="registration__input" type="email" name="email" placeholder="Email"
                            pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$" required>
                    </div>
                    <div class="register">
                        <button class="registration__button" type="submit">
                            Register
                        </button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    
</section>