<section class="reviews" id="reviews">
  <div class="container reviews__container">
    <h3 class="reviews__title">Reviews</h3>
    <div class="employees">
      <div class="employees__box">
        <picture>
          <source
            srcset="
              ./images/reviews/john_lap.png   1x,
              ./images/reviews/john_lap@2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/reviews/john_tab.png   1x,
              ./images/reviews/john_tab@2.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="employees__pic"
            src="./images/reviews/john_tab.png"
            alt="photo of john"
          />
        </picture>
        <ul class="star">
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star-empty"></use>
            </svg>
          </li>
        </ul>
        <p class="employees__name">John</p>
      </div>
      <div class="employees__box">
        <picture>
          <source
            srcset="
              ./images/reviews/will_lap.png   1x,
              ./images/reviews/will_lap@2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/reviews/will_tab.png   1x,
              ./images/reviews/will_tab@2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/reviews/will.png   1x,
              ./images/reviews/will@2.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="employees__pic"
            src="./images/reviews/will.png"
            alt="photo of elisabeth"
          />
        </picture>
        <ul class="star">
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </li>
        </ul>
        <p class="employees__name">Will</p>
      </div>
      <div class="employees__box">
        <picture>
          <source
            srcset="
              ./images/reviews/elisabeth_lap.png   1x,
              ./images/reviews/elisabeth_lap@2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/reviews/elisabeth_tab.png   1x,
              ./images/reviews/elisabeth_tab@2.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="employees__pic"
            src="./images/reviews/elisabeth_lap.png"
            alt="photo of elisabeth"
          />
        </picture>
        <ul class="star">
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="star__img" width="24" height="24">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </li>
        </ul>
        <p class="employees__name">Elisabeth</p>
      </div>
    </div>

    <!-- <div class="reviews__bachground"></div>
  <div class="reviews__first"></div>
  <div class="reviews__second"></div> -->

    <article class="reviews__text">
      <p class="reviews__coment">
        Last time I have visited a cooking course by Eva
      </p>
      <p class="reviews__coment">
        I was impressed with the way she explained everything <br />
        to people. You can be sure you will manage to cook a delicious dish even
        if it is your first time in the kitchen!
      </p>
      <p class="reviews__coment">
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people. You can be sure you will
        manage to cook a delicious dish even if it is your first time in the
        kitchen!
      </p>
      <p class="reviews__coment">
        Thank you so much for the masterclass! Looking forward to the next one
        and highly recommend it to everyone!
      </p>
    </article>
    <div class="reviews__page">
      <p class="reviews__page-number">2/15</p>
    </div>
  </div>
</section>
