<section id="speakers" class="speakers">
  <div class="container">
    <h2 class="title speakers__title">Speakers</h2>
    <ul class="speakers-list">
      <li class="speakers-list__items">
        <picture>
          <source
            media="(min-width: $mobail)"
            type="image/png"
            srcset="
              ./images/speakers/master-chocolatier-480.png    1x,
              ./images/speakers/master-chocolatier-480@2x.png 2x
            "
          />
          <source
            media="(min-width: $desctop)"
            type="image/png"
            srcset="
              ./images/speakers/master-chocolatier-1200.png    1x,
              ./images/speakers/master-chocolatier-1200@2x.png 2x
            "
          />
          <source
            media="(min-width: $tablet)"
            type="image/png"
            srcset="
              ./images/speakers/master-chocolatier-768.png    1x,
              ./images/speakers/master-chocolatier-768@2x.png 2x
            "
          />

          <img
            class="speakers-list__foto speakers-list__foto--test"
            src="./images/speakers/pastry-chef-1200.png"
            alt="front view female confectioner in white wear holding delicious pastries smiling"
          />
        </picture>
        <div class="speakers-box">
          <h3 class="speakers-list__title">Molly Rivera</h3>
          <p class="speakers-list__text">
            Pastry chef, master chocolatier of Spain
          </p>
        </div>
      </li>
      <li class="speakers-list__items">
        <picture>
          <source
            media="(min-width: $mobail)"
            type="image/png"
            srcset="
              ./images/speakers/school-pastry-chef-480.png    1x,
              ./images/speakers/school-pastry-chef-480@2x.png 2x
            "
          />
          <source
            media="(min-width: $desctop)"
            type="image/png"
            srcset="
              ./images/speakers/school-pastry-chef-1200.png    1x,
              ./images/speakers/school-pastry-chef-1200@2x.png 2x
            "
          />
          <source
            media="(min-width: $tablet)"
            type="image/png"
            srcset="
              ./images/speakers/school-pastry-chef-768.png    1x,
              ./images/speakers/school-pastry-chef-768@2x.png 2x
            "
          />

          <img
            class="speakers-list__foto"
            src="./images/speakers/school-pastry-chef-1200.png"
            alt="lady smiling confectioner wrapping a box with cookies"
          />
        </picture>
        <div class="speakers-box">
          <h3 class="speakers-list__title">Sophia Clark</h3>
          <p class="speakers-list__text">Сulinary school pastry chef</p>
        </div>
      </li>
      <li class="speakers-list__items">
        <picture>
          <source
            media="(min-width: $mobail)"
            type="image/png"
            srcset="
              ./images/speakers/consultant-in-the-art-of-confectionery-480.png    1x,
              ./images/speakers/consultant-in-the-art-of-confectionery-480@2x.png 2x
            "
          />
          <source
            media="(min-width: $desctop)"
            type="image/png"
            srcset="
              ./images/speakers/consultant-in-the-art-of-confectionery-1200.png    1x,
              ./images/speakers/consultant-in-the-art-of-confectionery-1200@2x.png 2x
            "
          />
          <source
            media="(min-width: $tablet)"
            type="image/png"
            srcset="
              ./images/speakers/consultant-in-the-art-of-confectionery-768.png    1x,
              ./images/speakers/consultant-in-the-art-of-confectionery-768@2x.png 2x
            "
          />
          <img
            class="speakers-list__foto"
            src="./images/speakers/consultant-in-the-art-of-confectionery-1200.png"
            alt="portrait of young woman with sweets"
          />
        </picture>
        <div class="speakers-box">
          <h3 class="speakers-list__title">Isabella Taylor</h3>
          <p class="speakers-list__text">
            Сonsultant in the art of confectionery
          </p>
        </div>
      </li>
      <li class="speakers-list__items">
        <picture>
          <source
            media="(min-width: $mobail)"
            type="image/png"
            srcset="
              ./images/speakers/master-chocolatier-480.png    1x,
              ./images/speakers/master-chocolatier-480@2x.png 2x
            "
          />

          <source
            media="(min-width: $desctop)"
            type="image/png"
            srcset="
              ./images/speakers/master-chocolatier-1200.png    1x,
              ./images/speakers/master-chocolatier-1200@2x.png 2x
            "
          />

          <source
            media="(min-width: $tablet)"
            type="image/png"
            srcset="
              ./images/speakers/master-chocolatier-768.png    1x,
              ./images/speakers/master-chocolatier-768@2x.png 2x
            "
          />

          <img
            class="speakers-list__foto speakers-list__foto--test"
            src="./images/speakers/master-chocolatier-1200.png"
            alt="lady smiles at the camera with chocolate"
          />
        </picture>
        <div class="speakers-box">
          <h3 class="speakers-list__title">Evelyn Miller</h3>
          <p class="speakers-list__text">Master-chocolatier in Spain</p>
        </div>
      </li>
    </ul>
  </div>
</section>
