.header {
  padding-top: 16px;
  @media screen and (min-width: $desctop) {
    padding-top: 36px;
  }
  @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
    padding-top: 24px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
      align-items: center;
    }
    @media screen and (min-width: $desctop) {
      justify-content: flex-start;
      align-items: center;
    }
  }
}
.header__btn {
  border: none;
  background-color: inherit;
  @media screen and (min-width: $desctop) {
    display: none;
    margin-left: 20px;
  }
}

.nav-list {
  display: none;
  &__item:not(:first-child) {
    margin-left: 20px;
  }
  @media screen and (min-width: $desctop) {
    display: flex;
    margin-left: 55px;
  }
  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    padding: 4px 8px;

    color: var(--main-color);
    &:hover,
    &:focus {
      background: linear-gradient(
        180deg,
        rgba(248, 110, 103, 0.63) 0%,
        rgba(253, 86, 143, 0.86) 100%
      );
      box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
      border-radius: 0px;
      color: #fcfcfc;
    }
  }
}

.header,
.hero {
  background-image: url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero-mob@2x.jpg);
  }
  @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
    background-image: url(../images/bg-hero-tab.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg-hero-tab@2x.jpg);
    }
  }
  @media screen and (min-width: $desctop) {
    background-image: url(../images/bg-hero-desc.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg-hero-desc@2x.jpg);
    }
  }
  // background-position: center;
  // background-attachment: fixed;
}

.header {
  height: 66px;
  background-position: center 0;
  // filter: grayscale(100%);
  @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
    height: 68px;
  }
  @media screen and (min-width: $desctop) {
    height: 106px;
  }
}

.hero {
  height: 246px;
  background-position: center calc(-1 * 66px);
  @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
    height: 277px;
    background-position: center calc(-1 * 68px);
  }
  @media screen and (min-width: $desctop) {
    height: 450px;
    background-position: center calc(-1 * 106px);
  }
}
// min-height: calc(100vh - 66px);
// min-height: calc(100vh - 68px);
// min-height: calc(100vh - 106px);
/*--------------BURGER-MENU--------------------*/

.burger-menu {
  overflow: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 16px 20px 52px 20px;
  transform: translateX(100%);
  background: var(--bg-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
    padding: 24px 32px;
    // background-image: url(../images/decor-burger-1.png);
    // background-repeat: no-repeat;
    // background-position: 45%, 4%, 23%, 3%;
  }
  &.is-open {
    transform: translateX(0);
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    background-color: inherit;
    &:hover,
    &:focus {
      fill: var(--pink-color);
    }
  }
}
.burger-menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
  &__item:not(:first-child) {
    margin-top: 40px;
  }
  &__link {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    padding: 10px 28px;
    color: var(--main-color);
    @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
      font-size: 40px;
      line-height: 1.22;
    }
    &:hover,
    &:focus {
      background: linear-gradient(
        180deg,
        rgba(248, 110, 103, 0.63) 0%,
        rgba(253, 86, 143, 0.86) 100%
      );
      box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
      border-radius: 0px;
      color: #fcfcfc;
    }
  }
}
