.registration {
    // width: 394px;
    align-items: center;
    @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
        // width: 704px;
        // height: 312px;
        // align-items: center;
    }

    @media screen and (min-width: $desctop) {
        // width: 1034px;
        // height: 313px;
    }
}

.title__registration {
    margin-bottom: 27px;
    align-items: center;
    @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
        font-size: 32px;
        line-height: 1.22;
        color: #000;
        font-weight: 500;
    }
    @media screen and (min-width: $desctop) {
        color: var(--main-color);
        font-size: 32px;
        font-weight: 500;
        line-height: 1.22;
    }
}

.registration__form {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    @media screen and (max-width: $pre-tablet) {
        background-image: linear-gradient(rgba(162, 143, 143, 0.524), rgba(162, 143, 143, 0.524)), url(../images/img-register.png);
    }
   
    @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
        width: 704px;
        display: flex;
        background-image: url(../images/small-donuts.png), url(../images/small-cloud.png), url(../images/strawberry-donuts.png);
        background-repeat: no-repeat;
        background-position: 15px 215px, left, right;
    }
    @media screen and (min-width: $desctop) {
        width: 1034px;
        display: flex;
        background-image: url(../images/big-donuts.png), url(../images/big-cloud.png), url(../images/strawberry-donuts.png);
            background-repeat: no-repeat;
            background-position: 15px 97px, left, right;
    }

}
.date {
    border-bottom: 1px solid var(--border-color-white);
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
    @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
        width: 90px;
        height: 283px;
        flex-wrap: wrap;
        border: none;
        margin-top: 45px;
        margin-left: 62px;
        // border-right: 1px solid var(--border-color-black);
        border-bottom: 0;
    }
    @media screen and (min-width: $desctop) {
        width: 127px;
        border-bottom: 0;
    }
}
.date__text {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 32px;
    @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
        color: #000;
        font-size: 18px;
        line-height: 1.11;
        align-items: right;
        vertical-align: top;
    }
    @media screen and (min-width: $desctop) {
        color: var(--main-color);
        font-size: 20px;
        line-height: 1.2;
        align-items: right;
        vertical-align: top;
    }
}
.registration__info {
    margin-left: 8px;
    @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
        margin-left: 24px;
        margin-top: 40px;
    }
}
.registration__text {
    color: #fff;
    margin-bottom: 20px;
    @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
        color: #000;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        align-items: left;
        vertical-align: top;
    }
        @media screen and (min-width: $desctop) {
            color: #000;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            align-items: left;
            vertical-align: top;
        }
}

.registration__input {
    // width: 264px;
    display: block;
    margin-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--border-color-white);
    background-color: transparent;
    align-items: center;
    color: #fff;

    &::placeholder {
        color: #fff;
    }
    @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
        width: 237px;
        padding-left: 24px;
        border-color: var(--border-color-black);
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 16px;
        &::placeholder {
            color: rgba(0, 0, 0, 0.5);
        }
    }
    @media screen and (min-width: $desctop) {
        padding-left: 24px;
        border-color: var(--border-color-black);
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 16px;
        
        &::placeholder {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}
.form {
    @media screen and (min-width: $tablet) {
        display: flex;
    }
}
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
        margin: 103px 40px 103px 74px;
    }

}
.registration__button {
    width: 145px;
    height: 40px;
    border: 0px solid;
    border-radius: 25px;
    color: #fff;
    background-color: var(--pink-color);
    margin-bottom: 28px;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
        background-color: #fff;
        border: 1px solid var(--pink-color);
        filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
        color: rgba(243, 132, 140, 1);
    }
}