.speakers {
  padding-top: 35px;
  background-color: var(--bg-color);
  // background-image: url(../images/speakers/Decor_speakers.png);
  // background-repeat: no-repeat;
  // background-position: right top;

  @media screen and (min-width: $tablet) {
    padding-top: 20px;
    padding-bottom: 80px;
    // background-image: url(../images/speakers/Decor-speakers2.png);
    // background-repeat: no-repeat;
    // background-position: top;
    // background-size: contain;
  }

  @media screen and (min-width: $desctop) {
    padding-top: 100px;
    // background-image: url(../images/speakers/Decor-speakers3.png);
  }

  &__title {
    margin-bottom: 12px;
    font-family: 'Montserrat Alternates';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;

    @media screen and (min-width: $tablet) {
      margin-bottom: 20px;
      font-size: 32px;
    }

    @media screen and (min-width: $desctop) {
      margin-bottom: 5px;
    }
  }
}

.speakers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: $tablet) {
    gap: 32px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 600;
    font-size: 16px;

    flex-basis: calc((100% - 1 * 20px) / 2);

    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 3 * 32px) / 4);
    }
  }

  &__foto {
    width: 100%;
    margin-bottom: 12px;

    &--test {
      margin-bottom: 15px;
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 20px;

      &--test {
        margin-bottom: 25px;
      }
    }
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;

    @media screen and (min-width: $tablet) {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 1.2;
    }
  }

  &__text {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;

    @media screen and (min-width: $tablet) {
      font-size: 14px;
      line-height: 1.2;
    }

    @media screen and (min-width: $desctop) {
      font-size: 16px;
      margin: 0 54px;
    }
  }
}

.speakers-box {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  flex: 1 0 auto;

  max-width: 130px;

  @media screen and (min-width: $tablet) {
    max-width: 152px;
  }

  @media screen and (min-width: $desctop) {
    max-width: 181px;
  }
}
